<div class="container">

  <div class="row">
    <div class="col-xs-12">
      Service
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      t
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      t1
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      t2
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      t3
    </div>
  </div>

</div>
