/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-grey {
  background-color: #F6F6F6;
}
.wrapper-grey h3 {
  font-size: 24px;
}
.wrapper-grey p {
  font-size: 20px;
}
.how-it-works {
  color: #656B75;
  h2 {font-size: 40px;}
  h3 {font-size: 24px;}
  p {font-size: 20px;}
}
.gen-category-big {
  background-color: rgba(41,47,57,.5);
  transition: background-color .3s ease-in-out;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.gen-category-big:hover {
  background-color: rgba(41,47,57,.8);
}
.gen-category-small {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.gen-text-big {
  color: white;
  left: 0;
  margin: 0px;
  position:absolute;
  text-align:center;
  top: 40%;
  position: absolute;
  width: 100%;
}
.gen-text-small {
  color: white;
  left: 0;
  margin: 0px;
  position:absolute;
  text-align:center;
  top: 35%;
  position: absolute;
  width: 100%;
}
.gen-num-small {
  font-size: 20px;
}
.gen-num {
  font-size: 30px;
}
@media only screen and (max-device-width: 480px) {
  .gen-num-small {
    font-size: 30px;
  }
  .gen-text-big {
    top: 34%;
  }
  .test {
      width: 100%;
      height: 300px;
  }
}
.test {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("genstudent.png");

  color: #f00;
  transition: background-color .3s ease-in-out;
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
.test:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("genstudent.png");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("genstudent.png");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("genstudent.png");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("genstudent.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("genstudent.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("genstudent.png");
}
