/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-grey {
  background-color: #F6F6F6;
}
.wrapper-grey h3 {
  font-size: 24px;
}
.wrapper-grey p {
  font-size: 20px;
}
