.dash-body {
  padding: 0 12.5px;
  p {
    font-size: 14px;
  }
}
.gen-user-img {
  width: 100%;
  height: 300px;
}
.panel {
  border: 1px solid #dce0e0;
  background-color: $pastel-blue;
  margin-bottom: 24px;
}
.dash-aside {
  padding: 0 12.5px;
}
#notification {
  padding: 10px 0 10px 25px;
  font-weight: bold;
}
.panel-header {
  background-color: $payne-grey;
  color: white;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}
.panel-body {
  // position: relative;
  padding: 20px;
  li {
    font-size:14px;
    margin-bottom: 5px;
  }
}
.panel-image {
  position: relative;
  // display: flex;
  // justify-content: center;
  padding-top: 10px;
}
.btn.btn-contrast.btn-block {
  position: absolute;
  bottom: 0;
}
.icon {
  margin-right: 5px;
}
.list-unstyled {
  list-style: none;
}
.sidenav-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
#line-more-top {
  margin: 0 0 5px 0;
}
@media (max-width: 700px) {
  .container-700 {
    width: 700px;
  }
}
