// .dash-body {
//   padding: 0 12.5px;
//   p {
//     font-size: 14px;
//   }
// }
.panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.gen-card-height {
  height: 550px;
}
.gen-card-subscribtion {
  height: 460px;
}
// .dash-aside {
//   padding: 0 12.5px;
// }
// #notification {
//   padding: 10px 0 10px 25px;
//   font-weight: bold;
// }
// .panel-header {
//   background-color: $light-green;
//   color: white;
//   font-size: 16px;
//   padding-top: 12px;
//   padding-bottom: 12px;
//   border-bottom: 1px solid #dce0e0;
// }
// .panel-body {
//   padding: 20px;
//   li {
//     font-size:14px;
//     margin-bottom: 5px;
//   }
// }
.dash-background {
  background-color: #F3F4F5;
}
.panel-user {
  box-shadow: 0 0 5px lightgrey;
  overflow: hidden;
  background-color: white;
}
.panel-image {
  padding: 1em;
}
.dash-avatar {
  border-radius: 50%;
  margin: auto;
  width: 55%;
  height: 100px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.service-picture {
  height: 11em;
}
.dash-name {
  color: #232d32;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.dash-joined {
  color: #a7b2b8;
  font-size: 0.875em;
  width: 100%;
  display: inline-block;
}
// .gen-user-img {
//   width: 100px;
//   height: 300px;
// }
// .btn.btn-contrast.btn-block {
//   position: absolute;
//   bottom: 0;
// }
// .icon {
//   margin-right: 5px;
// }
// .list-unstyled {
//   list-style: none;
// }
// .sidenav-list {
//   padding-left: 0;
//   list-style: none;
//   margin-bottom: 0;
// }
// #line-more-top {
//   margin: 0 0 5px 0;
// }
// @media (max-width: 700px) {
//   .container-700 {
//     width: 700px;
//   }
// }
