.responsive {
  margin-left: 5vw;
  margin-right: 5vw;
}
.tab-container {
  background-color: #797979;
}
.tab-content {
  // margin: 0 100px;
  margin-top: 3em;
}
.nav-tabs a {
  color: #CCCCCC;
}
.nav-tabs a:hover {
  text-decoration: none;
  color: #fff;
}
.h3 {
  font-size: 24px;
  font-weight: normal;
}
