<div class="container">
  <div class="row">

    <% if @users.empty? %>
      <div class="col-xs-12 col-sm-6">
        <h1>Sorry, no results found</h1>
      </div>
    <% else %>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-md-4 selectable-card">
          <%= link_to user_path(user.id) do%>
          <div class="index-card text-center">
            <div class="index-card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 30%), url( <%= user.profile_picture %>);">
            </div>
            <div class="index-card-content">
              <h3 class="index-card-title"><%= user.full_name %></h3>
              <h5 class="index-card-subcategory"><%= user.skills %></h5>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
