<div class="container-fluid banner bg-picture banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= asset_path('genstudent.png') %>')">
  <div class="row">
    <div class="banner-content">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <h1>GET READY FOR GROWTH<br> <h2>We connect startups with top university students</h2></h1>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-center">
        <%= link_to projects_path do %>
          <div class="btn btn-primary">I am a Company</div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 text-center">
        <%= link_to projects_path do %>
          <div class="btn btn-primary">I am a Student</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded how-it-works">
  <div class="row">
    <h2 class="space-bot-1">HOW IT WORKS</h2>
    <div class="col-xs-12 col-sm-4 col-lg-4">
      <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
      <h3>TELL US YOUR NEEDS</h3>
      <p>Provide us with a brief description of the task, along with any specific requirements you may have.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
      <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
      <h3>MATCH WITH A STUDENT</h3>
      <p>Based on your needs, we will match you a with a top university student. We will provide you their CV and writing sample to ensure that you are satisfied with the match.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
      <h3>START COLLABORATING</h3>
      <p>You are now ready to start working with your student. Prepare to see your business grow!</p>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container text-center padded features">
    <div class="row">
      <div class="space-bot-1">
        <h1>WHY CHOOSE US?</h1>
        <h3>Because we make your life easier and your wallet thicker. It's as simple as that.</h3>
        <p>Still not convinced? Ok, let's list some more reasons.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
        <h3>SUBJECT EXPERTS</h3><br><h3>We only select the top 5%</h3>
        <p>All students must pass a rigorous selection process before they can join our platform. All our students are at least in their second year of studies and most already have work experience.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
        <h3>FLEXIBILITY</h3><br><h3>We go below the surface</h3>
        <p>Your credibility and reputation matters. We only match you with students that have expertise and knowledge in your field of business to ensure top-notch results that makes you stand out from your competitors.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
        <h3>EXCELLENCE</h3><br><h3>No full time hires and costly freelancers</h3>
        <p>You only use us when you need us. We understand that you must run lean and cannot always commit to full-time hires or fixed term contracts with agencies or freelancers. Your business changes and so do your needs.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <i class="fa fa-money fa-2x" aria-hidden="true"></i>
        <h3>RISK FREE</h3><br><h3>100% satisfaction guaranteed</h3>
        <p>We take pride in the quality of our students. If you are not happy for any reason just tell us what went wrong and we will do our best to fix it. If we fail, you will get a full refund. No more questions asked.</p>
      </div>
    </div>
  </div>
</div>

    <!-- Your footer code -->
<div id="footer-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-s-12 col-sm-4 text-center">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-s-12 col-sm-8 text-center">
        <p>© 2017 by Genstudent</p>
      </div>
    </div>
  </div>
</div>
