.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $light-green 1px solid;
}
.avatar-big-bordered {
  width: 9.25em;
  height: 9.25em;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $light-green 1px solid;
  margin: 0 0.2em;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-height {
  height: 60px;
}
.avatar-position {
  top: 10em;
  left: 11em;
}
.profile-large-bordered {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.profile-large {
  height: 150px;
  width: 150px;
}
.picture-absolute {
  position: absolute;
  left: 155px;
  top: -25px;
}
